body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-image: url(images/Leonardo_Phoenix_10_Capture_a_serene_and_symmetrical_photograp_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aasirvad {
    background-color:white;
}

.box h3 {
    font-size: 4rem;
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-weight: bold;
}

.box p {
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.ankit {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: transparent;
    border: 1px solid grey;
    color: white;
    backdrop-filter: blur(3px);
    transition: opacity 0.5s;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.ankit:hover {
    opacity: 0.6;
}

.ankit:active {
    opacity: 0.4;
}
.aasirvad h3{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
}
.aasirvad{
    width: 100vw;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.aasirvad p{
    width:660px;
    height: 84px;
    line-height: 24px;
    color: rgb(106, 102, 98);
    font-family: Arial, Helvetica, sans-serif;
}


.bidan_chettri{
    width:100vw;
    height:200px;
    display: flex;
    background-color: rgb(232, 232, 232);
    justify-content: center;
    text-align: center;
   

}

   
   

.sites h3{
    font-family: "Playfair Display",serif;
     font-size: 40px;
     
}
.sites p{
     width:360px;
    height: 84px;
    line-height: 24px;
    color: rgb(106, 102, 98);
    font-family: Arial, Helvetica, sans-serif;
    
}
.temple{
    width: 100vw;
    height: 400px;
    background-color:rgb(232, 232, 232) ;
    
    
}
.maya_temple{

    margin-left: 50px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}
.heading h3{
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}



.subtitle{
    margin-top: 0;
    width: 200px; 
    padding-left:15px ;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(106, 102, 98) ;
    transition: box-shadow 1s ;
}
.maya_temple:hover{
  
   box-shadow: 5px 5px 10px rgba(0,0,0,0.6);

  
}
.location{
    width: 100vw;
    height: 40px;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    display: block;
    font-family:"Playfair Display",serif;
   
}
.map{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    display: block;
    

}
.visit{
    background-color:rgb(252, 245, 237);
    width: 100vw;
    height: 400px;
}
.plan{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.loc h3{
    margin-top: 20px;
    font-size: 40px;
    font-family: "Playfair Display",serif;
    

}
.loc p{
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 102, 98);
}
.contact button{
    margin-top: 100px;
    background-color: black;
    border: solid;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    transition: opacity 0.15s;
}
.contact button:hover{
    opacity: 0.6;
}
.contact button:active{
    opacity: 0.5;
}





